.adminDashboardPage{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    min-height:100vh;
    background-color:#121212;
    color:#ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:2rem;
    z-index: 100;
}

.companyFormCont{
    position:fixed;
    top:0;
    left:0;
    width:100vw;    
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
}
.niftyFormCont{
    position:fixed;
    top:0;
    left:0;
    width:100vw;    
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
}