.homePage{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height:100vh;
  background-color: #000000;
  color:#ffffff;
  .hero{
    display:flex;
    flex-direction: column;
    @media screen and (min-width:700px) {
      flex-direction: row;
      justify-content: space-around;
    }
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width:100%;
    .heroContent{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1rem;
      width:100%;
      padding:4rem;
      @media screen and (min-width:700px){
        text-align: left;
        font-size: 1.5rem;
        width:50%;
        align-items: flex-start;
      }
      .heroSubtitle,.heroDescription{
        font-size: 0.5rem;
        @media screen and (min-width:700px){
          font-size: 1rem;
          text-align: left;
        }
        text-align: center;
      }
    }
    .authSection{
      width: 100%;
      @media screen and (min-width:700px) {
        width: 50%;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}